version: "2"

services:

  app:
    build: .
    image: keboola/db-writer-mssql
    command: bash
    volumes:
      - .:/code
    working_dir: /code
    tty: true
    environment:
      MSSQL_DB_HOST: mssql
      MSSQL_DB_PORT: 1433
      MSSQL_DB_USER: sa
      MSSQL_DB_PASSWORD: "yourStrong(!)Password"
      MSSQL_DB_DATABASE: test
    links:
      - sshproxy
      - mssql

  tests:
    build:
      dockerfile: Dockerfile-tests
      context: .
    command: ./phpunit.sh
    working_dir: /code
    tty: true
    environment:
      MSSQL_DB_HOST: mssql
      MSSQL_DB_PORT: 1433
      MSSQL_DB_USER: sa
      MSSQL_DB_PASSWORD: "yourStrong(!)Password"
      MSSQL_DB_DATABASE: test
    links:
      - sshproxy
      - mssql

  mssql:
    image: microsoft/mssql-server-linux
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: "yourStrong(!)Password"
    ports:
      - "1433:1433"

  sshproxy:
    build: ./tests/env/sshproxy
    volumes:
      - ./tests/env/sshproxy:/code
    working_dir: /code
    ports:
      - "2222:22"
    links:
      - mssql
